.section1
  min-height: 1280px
  background: url(../images/dist/header-bg.jpg) center center no-repeat
  background-size: cover
  position: relative
  display: flex
  // align-items: center
  // justify-content: center
  .main_title
    margin-top: 200px
    font-weight: 400
    font-size: 56px
    line-height: 120%
    color: #39514E
    margin-bottom: 57px
  .author
    margin-bottom: 14px
    .name
      font-weight: 700
      font-size: 48px
      line-height: 120%
      text-transform: uppercase
      color: #39514E
      margin-bottom: 26px
    p
      font-weight: 400
      font-size: 24px
      line-height: 120%
      color: #39514E
  .main_list
    position: relative
    p
      margin-bottom: 23px
      font-weight: 700
      font-size: 28px
      line-height: 142.02%
      text-transform: capitalize
      color: #8F6496
    .btn
      position: absolute
      bottom: -70%
      right: -74%
  .menu-icon
    position: absolute
    top: 40px
    left: 40px
    img
      width: 64px
      height: 30px

.menu
  opacity: 0
  pointer-events: none
  z-index: -1
  position: fixed
  background: rgba(139, 173, 169, 0.8)
  backdrop-filter: blur(6px)
  width: 100%
  top: 0
  left: 0
  height: 300px
  transition: all 0.3s ease
  .close
    position: absolute
    top: 70px
    left: 100px
  nav
    width: 100% 
    margin-top: 175px
    ul
      padding: 0
      margin: 0
      list-style: none
      display: flex
      justify-content: space-between
      li
        a
          text-decoration: none
          color: white
          font-weight: 700
          font-size: 32px
          line-height: 120%
          text-transform: uppercase
          transition: all 0.3s ease
          &:hover
            opacity: 0.7

.active
  opacity: 1
  pointer-events: all
  z-index: 999